:root {
  --main-bg-color: white;
  --main-fg-color: #282c34;
}

.App {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.App-header {
  background-color: var(--main-fg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--main-bg-color);
  padding: 36px;
}

.App-main {
  padding: 36px;
}
